.container {
    max-width: 800px;
    /* margin: auto;
    max-width: 600px; */
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9; /* Light mode */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    color: #333;
  }
  
  .card {
    border-radius: 10px;
  }

  
  
  .table th, .table td {
    font-size: 1.1rem;
  }

/* Dark Mode */
.dark .container {
    background-color: #333;
    color: white;
}

/* .container h1{
  font-size: 34px;
    color: #333;
    margin-bottom: 20px;
}

.dark .container h1{
  
    color: white;
    
} */

.container p{
  
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  
}

.dark .container p{
  
  color: white;
  
}



